{% extends "base.html" %}
{% load static i18n %}

{% block css %}
	{{block.super}}

	<link href="{% static 'css/modal.css' %}" rel="stylesheet">
	<link href="{% static 'css/maintable.css' %}" rel="stylesheet">
	<link href="{% static 'css/search.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
	<div class="main-page-content">
		<input type="text" id="table-search-bar" onkeyup="filterTable()" placeholder="Search for names..">

		<div class="table-container"> 
			
		</div>
	</div>

	<div id="myModal" class="modal">

	  <!-- Modal content -->
		<div class="modal-content">
		  	<table>
		  		<tbody>
		  			<tr>
		  				<td>
						  	<ul class="nav nav-tabs">
							    <li class="active" id="data-tab-button"><a data-toggle="tab" href="#data">Data</a></li>
							    <li><a data-toggle="tab" href="#info">Info</a></li>
						    </ul>
						</td>
						<td>
						    <div class="right-justify">
								<span class="close">&times;</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		    <div class="tab-content">
			  	<div id="data" class="tab-pane active">
				    <table class="modal-table" id="popup-table">
				    	<tbody>
				    		<tr>
				    		</tr>
				    		<tr>
				    			<td id="modal-title" colspan="2">
				    				<h3 class="modal-header" id="modal-title-text"></h3>
				    			</td>
				    		</tr>
					    	<tr id="modal-split-row">
					    		<td class="modal-table-cell" rowspan="4" valign="top">
					    			<table id="modal-coin-data">
										<thead>
											<tr>
												<th></th>
												<th class="table-header" align="center">Buy Price</th>
												<th class="table-header" align="center">Buy Exchange</th>
												<th class="table-header" aign="center">Sell Price</th>
												<th class="table-header" align="center">Sell Exchange</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="row-header" id="coin-data"></td>
												<td align="center" id="buy_price"></td>
												<td align="center" id="buy_ex"></td>
												<td align="center" id="sell_price"></td>
												<td align="center" id="sell_ex"></td>
											</tr>
										</tbody>
					    			</table>
					    		</td>
					    		<td>
					    			<div class="tab"  id="price-graph-tabs">
										<button class="tablinks" onclick="openHistory(event, 1)">1d</button>
										<button class="tablinks" onclick="openHistory(event, 3)">3d</button>
										<button class="tablinks" onclick="openHistory(event, 7)">1w</button>
										<button class="tablinks" id="defaultOpen" onclick="openHistory(event, 30)">1m</button>
										<button class="tablinks" onclick="openHistory(event, 90)">3m</button>
										<button class="tablinks" onclick="openHistory(event, 180)">6m</button>
										<button class="tablinks" onclick="openHistory(event, 365)">1y</button>
									</div>
									<div id="modal-graph-cell">
							    		<canvas class="modal-canvas" id="popup-canvas"></canvas>
									</div>
					    		</td>
					    	</tr>
					    	<tr>
					    		
					    	</tr>
				    	</tbody>
				    </table>
				</div>
				<div id="info" class="tab-pane">
					<div id="coin-desc">
						<h3>Coin Information</h3>
						<p id="coin-desc-text"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	
{% endblock content %}


{% block javascript %}
	{{block.super}}
	
	<script src="{% static 'js/coinmodal.js' %}"></script>
	<script src="{% static 'js/moneyformat.js' %}"></script>
	<script src="{% static 'js/maintable.js' %}"></script>
	<script src="{% static 'js/home.js' %}"></script>
	<script>
		var coin_table = "{{ coins | safe | escapejs }}";
		var historical_table = "{{ historical | safe | escapejs }}";
		var buy_sell = "{{ exchange_data | safe | escapejs }}";
		var value_change = "{{ value_change | safe | escapejs }}";
	</script>

{% endblock javascript %}