.table {
	margin-top: 3%;
}

#header-row {
    background-color: #ffaf5d!important;
}

.table-bordered td, .table-bordered th {
    border: 1px solid black!important;
}

.favstar {
	height: 2%;
}

.favcell {
	text-align: center;
	vertical-align: center;
}

th {
	text-align: left;
  	vertical-align: middle !important;
  	padding-right: 12px!important;
}

.nowrap {
	float: left;
	white-space: nowrap;
}

.center-cell {
	vertical-align: middle!important;
}

.positive {
	color: green;
}

.negative {
	color: red;
}